$gutter                         : 20px;
$gutter-sm                      : 10px;


$header-title                   : 4rem;


$card-spacing                   : 1rem 0 0 1rem;


$white-color-opacity-075        : rgba(240,248,255, 0.75);
$black-color-opacity-000        : rgba(0,0,0, 0);
$black-color-opacity-075        : rgba(0,0,0, 0.75);
$black-color-opacity-085        : rgba(0,0,0, 0.85);
$black-color-opacity-095        : rgba(0,0,0, 0.95);


$color-grey                     : #F6F6F6;
$color-grey-2                   : #d0d0d0;
$color-grey-3                   : #c1c1c1;
$color-warn                     : #F44236 !important;
$color-pink                     : #d70098;


$products-max-width             : 745px;
