<div class="container">
  <div class="container__box">
    <h1><span>{{ firstname }}</span> {{ lastname }}</h1>
  </div>

  <div class="container__box">
    <p>
      Born and raised in Dordrecht. A creative developer who is passionate about web and mobile development.
      Keeps busy with the latest front-end techniques. In addition, accessibility,
      usability and performance also plays a major role in this field.

      More information about me: <a href="mailto:ucarferhat3@gmail.com">ucarferhat3@gmail.com</a>
    </p>
  </div>
</div>
