@import "../../../../node_modules/bourbon/core/bourbon";
@import "../partials/vars";

.push {
  &__right {
    transform: translateX(200px);
  }
}

.navbar {
  color: green;
  transition: all 0.2s linear;
  padding: $gutter-sm;
  background: $black-color-opacity-075;

  &__side {
    @include size(0, 100%);
    @include position(fixed, 0 null null 0);
    transition: all 0.2s linear;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 70px;

    &--active {
      width: 200px;
    }
  }

  &--active {
    background-color: rgba(255,255,255,0.2) !important;
    color: black !important;
  }

  &__link {
    @include padding(8px 8px 8px 32px !important);
    text-decoration: none;
    color: white !important;
    width: 100%;
    display: block;
    transition: 0.3s;
    border-radius: 0 !important;

    &:hover {
      background-color: white;
      color: black !important;
      text-decoration: none;

      .navbar__text {
        font-size: 16px;
      }
    }
  }

  button.hamburger {
    @include size(40px, 30px);
    transition: all 0.1s ease !important;

    span.bar {
      background-color: white !important;
    }
  }
}
