@import "../partials/vars";

.csv {
  padding: $gutter;

  &__button {
    button {
      width: 100%;
    }
  }

  &__box {
    background: white;
    margin-top: $gutter;
    padding: 0 $gutter $gutter $gutter;

    table {
      font-family: Roboto, "Helvetica Neue",sans-serif;
      background: white;
      color: black;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                  0 10px 10px rgba(0,0,0,0.22);

      td, th {
        border-bottom: 1px solid $color-grey-3;
        padding: $gutter-sm;
      }

      thead {
        background: $color-grey;
        font-size: 12px;
        font-weight: 500;

        th {
          color: #3f3f3f;
          text-align: left
        }
      }

      tbody {
        tr {
          transition: all .2s ease;

          &:hover {
            background: lighten($color-grey-2, 10%);
          }
        }
      }
    }

    .mat-form-field {
      width: 100%;
    }
  }
}
