@import url(https://fonts.googleapis.com/css?family=Squada+One);
.push__right {
  transform: translateX(200px); }

.navbar {
  color: green;
  transition: all 0.2s linear;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75); }
  .navbar__side {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 70px; }
    .navbar__side--active {
      width: 200px; }
  .navbar--active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: black !important; }
  .navbar__link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white !important;
    width: 100%;
    display: block;
    transition: 0.3s;
    border-radius: 0 !important; }
    .navbar__link:hover {
      background-color: white;
      color: black !important;
      text-decoration: none; }
      .navbar__link:hover .navbar__text {
        font-size: 16px; }
  .navbar button.hamburger {
    height: 30px;
    width: 40px;
    transition: all 0.1s ease !important; }
    .navbar button.hamburger span.bar {
      background-color: white !important; }

.records {
  display: flex;
  padding: 20px; }
  @media only screen and (max-width: 39.65625em) {
    .records {
      flex-wrap: wrap; } }
  .records__list {
    padding: 0;
    margin: 0; }
  .records__listitem {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: white; }
  .records__form {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 20px; }
    .records__form .mat-form-field {
      width: 100%; }
  .records__delete {
    right: -35px;
    top: -35px;
    float: right; }
  .records__input {
    width: 45%;
    margin: 0 1rem 0 0; }
    @media only screen and (max-width: 39.65625em) {
      .records__input {
        width: 100%;
        margin: 0; } }
  .records__output {
    width: 45%; }
    @media only screen and (max-width: 39.65625em) {
      .records__output {
        width: 100%; } }

.webshop {
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  margin: 1rem 0 2rem 0;
  display: inline-flex;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .webshop h3 {
    padding: 0.5rem;
    border-bottom: solid 1px;
    margin-bottom: 0; }
  .webshop products {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
    max-width: 745px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40px, #d0d0d0 45px); }
    @media only screen and (max-width: 650px) {
      .webshop products {
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem; } }
    .webshop products h3 {
      flex: 0 0 100%;
      height: 26px; }
  .webshop__close {
    height: 1.25rem;
    width: 1.25rem;
    background: url("../img/webshop/close.svg") no-repeat;
    background-size: contain;
    display: block;
    cursor: pointer;
    margin-right: 0.5rem;
    border: 0; }
  .webshop__cartIcon {
    display: none !important; }
    @media only screen and (max-width: 650px) {
      .webshop__cartIcon {
        display: block !important;
        margin: 0 auto !important; } }
  .webshop__cart {
    border-top-right-radius: 1rem;
    min-height: 300px;
    min-width: 275px;
    flex: 30%;
    transition: visibility 0s, opacity .3s linear; }
    @media only screen and (max-width: 650px) {
      .webshop__cart {
        visibility: hidden;
        display: none;
        opacity: 0; } }
  .webshop__total {
    color: white;
    border-top: solid 1px white;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    transition: all .1s ease-in-out; }
    .webshop__total--shipment {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
    .webshop__total--price {
      display: flex;
      justify-content: space-between; }
    .webshop__total:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .webshop__clear {
    border-top: solid 1px white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between; }
    .webshop__clear button {
      width: 100%; }
      .webshop__clear button:first-child {
        margin-right: 0.5rem; }
  .webshop__checkout {
    border-top: solid 1px white;
    padding: 0.5rem; }
    .webshop__checkout button {
      width: 100%; }
  .webshop__items {
    display: flex;
    align-items: center;
    align-content: center;
    transition: all .1s ease-in-out;
    color: white;
    justify-content: space-between;
    padding: 0.5rem; }
    .webshop__items:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    .webshop__items--name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      width: 90px;
      max-width: 90px;
      margin-right: 0.5rem; }
    .webshop__items--quantity {
      display: flex;
      align-items: center;
      align-content: center;
      flex-grow: 1; }
      .webshop__items--quantity span {
        padding: 0 5px; }
      .webshop__items--quantity button {
        background: none;
        border: none;
        cursor: pointer; }
        .webshop__items--quantity button:disabled .mat-icon.mat-warn {
          color: #d0d0d0; }
  .webshop__empty {
    color: white;
    margin: 1rem 0.5rem; }
  .webshop__sticky {
    position: fixed;
    top: 15px;
    left: 20px; }
  .webshop__categories {
    height: 100%;
    width: 75px;
    color: white;
    flex-flow: column;
    display: flex; }
  .webshop__back {
    width: 100%;
    display: block;
    margin: 1rem; }
  .webshop__button {
    margin: 3px auto !important;
    display: block !important; }
  .webshop__menu {
    width: 300px;
    background: #00b8d4; }
  .webshop__checkout mat-icon {
    position: relative;
    bottom: 1px; }
  .webshop__card {
    margin: 1rem 0 0 1rem;
    flex-basis: auto;
    flex-grow: 1; }
    .webshop__card:hover img {
      transition: all 300ms;
      transform: translateY(-10px); }
    .webshop__card:last-of-type {
      margin-bottom: 1rem; }
    .webshop__card p {
      color: black; }
    .webshop__card img {
      margin: 0 auto;
      display: block; }
    .webshop__card mat-card-actions button {
      width: 100%; }
  .webshop .mat-divider {
    border-color: white; }

.is-visible {
  position: absolute;
  left: 76px;
  visibility: visible;
  display: block;
  opacity: 1;
  width: calc(100% - 77px);
  background: rgba(0, 0, 0, 0.95); }

.is-warn {
  background: #F44236 !important; }

.product {
  height: 1.5rem;
  width: 1.5rem;
  margin: 10px auto;
  background-size: contain;
  display: block;
  cursor: pointer;
  border: 0; }
  .product__fruit {
    background: url("../img/webshop/fruit/fruit.svg") no-repeat; }
  .product__fish {
    background: url("../img/webshop/vis/fish.svg") no-repeat; }
  .product__meat {
    background: url("../img/webshop/vlees/meat.svg") no-repeat; }

.csv {
  padding: 20px; }
  .csv__button button {
    width: 100%; }
  .csv__box {
    background: white;
    margin-top: 20px;
    padding: 0 20px 20px 20px; }
    .csv__box table {
      font-family: Roboto, "Helvetica Neue",sans-serif;
      background: white;
      color: black;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
      .csv__box table td, .csv__box table th {
        border-bottom: 1px solid #c1c1c1;
        padding: 10px; }
      .csv__box table thead {
        background: #F6F6F6;
        font-size: 12px;
        font-weight: 500; }
        .csv__box table thead th {
          color: #3f3f3f;
          text-align: left; }
      .csv__box table tbody tr {
        transition: all .2s ease; }
        .csv__box table tbody tr:hover {
          background: #eaeaea; }
    .csv__box .mat-form-field {
      width: 100%; }

html, body {
  overflow-x: hidden; }

body {
  font-family: 'Squada One', cursive;
  background-size: cover;
  background: url("../img/android.jpg") no-repeat center center fixed;
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  transition: all 0.2s linear;
  max-width: 940px;
  overflow: hidden;
  min-height: 100%;
  margin: 0 20px; }
  @media only screen and (min-width: 60em) {
    .container {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1500px; } }
  .container__box {
    background: rgba(0, 0, 0, 0.75);
    display: inline-block;
    width: 100%;
    margin-top: 20px; }
    .container__box p {
      margin-left: 20px; }
  .container__balls {
    margin: 20px; }

p {
  color: white;
  font-size: 1.5rem; }

a {
  line-height: 1.7; }

h1 {
  margin: 1rem;
  font-size: 4rem;
  color: white; }
  h1 span {
    color: #d70098;
    text-decoration: underline;
    text-decoration-color: white; }

h2 {
  margin-top: 30px;
  color: white;
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase; }

h3 {
  color: white;
  font-size: 1.5rem;
  margin-top: 0; }

.block {
  background: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px 0 0; }
