$gutter                         : 20px;
$gutter-sm                      : 10px;


$header-title                   : 8rem;


$card-spacing                   : 1rem 0 0 1rem;


$white-color-opacity-075        : rgba(240,248,255, 0.75);
$black-color-opacity-075        : rgba(0,0,0, 0.75);
$black-color-opacity-085        : rgba(0,0,0, 0.85);


$color-grey                     : #F6F6F6;
$color-grey-2                   : #d0d0d0;


$products-max-width             : 745px;
