<div class="webshop__categories">
  <div class="webshop__buttons" (scroll)="onWindowScroll($event);">
    <button
      class="webshop__button"
      mat-button
      routerLink="/webshop"
      routerLinkActive="mat-accent"
      matTooltip="All products"
      matTooltipPosition="above"
      matTooltipClass="accent"
      [queryParams]="{ category: '' }">
      <mat-icon matBadgeColor="accent" matBadge="{{ update() }}">apps</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button
      class="webshop__button"
      mat-button
      routerLink="/webshop"
      routerLinkActive="mat-accent"
      [queryParams]="{ category: 'fruit' }">
      <i class="product product__fruit"></i>
    </button>
    <mat-divider></mat-divider>
    <button
      class="webshop__button"
      mat-button
      routerLink="/webshop"
      routerLinkActive="mat-accent"
      [queryParams]="{ category: 'vlees' }">
      <i class="product product__meat"></i>
    </button>
    <mat-divider></mat-divider>
    <button
      class="webshop__button"
      mat-button
      routerLink="/webshop"
      routerLinkActive="mat-accent"
      [queryParams]="{ category: 'vis' }">
      <i class="product product__fish"></i>
    </button>
    <mat-divider></mat-divider>
    <button
      class="webshop__cartIcon"
      (click)="toggleCart($event)"
      mat-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>
