<nav class="navbar">
  <button class="hamburger hamburger--arrow" type="button">
    <div class="inner">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </button>
</nav>

<div class="navbar__side">
  <button
    mat-button
    [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="navbar--active"
    class="navbar__link">
    <span class="navbar__text">Home</span>
  </button>
  <button
    mat-button
    [routerLink]="['/about']"
    routerLinkActive="navbar--active"
    class="navbar__link">
    <span class="navbar__text">About</span>
  </button>
  <button
    mat-button
    [routerLink]="['/webshop']"
    routerLinkActive="navbar--active"
    class="navbar__link">
    <span class="navbar__text">Webshop</span>
  </button>
  <button
    mat-button
    [routerLink]="['/csv']"
    routerLinkActive="navbar--active"
    class="navbar__link">
    <span class="navbar__text">CSV Reader</span>
  </button>
  <button
    mat-button
    [routerLink]="['/records']"
    routerLinkActive="navbar--active"
    class="navbar__link">
    <span class="navbar__text">Records</span>
  </button>
</div>
